
 <header>
    <div class="image-text">
         <span class="image">
            <img src="favicon.ico" alt="logo">
        </span>
        <div class="text header-text">
            <span class="name">Shopify</span>
            <span class="profession">Selling Host</span>
        </div>
    </div>
     
    <i class='bx bx-chevron-right toggle'></i>
</header>

<div class="menu-bar">
    <div class="menu">
        <li class="search-box">
            <i class='bx bx-search icon' ></i>
            <input [(ngModel)]="question" type="text" placeholder="Search..." (keyup.enter)="onSearch()">
        </li>
        <ul class="menu-links">
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-home-alt icon'></i>
                    <span class="text nav-text">Home</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bxs-shopping-bag icon'></i>
                    <span class="text nav-text">Bought</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-heart icon'></i>
                    <span class="text nav-text">Likes</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-chat icon'></i>
                    <span class="text nav-text">Chats</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bxs-component icon'></i>
                    <span class="text nav-text">My ads</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-plus-medical icon' ></i>
                    <span class="text nav-text">Add new ad</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="bottom-content">
        <li class="">
            <a href="/login">
                <i class='bx bx-log-out icon'></i>
                <span class="text nav-text">Logout</span>
            </a>
        </li>

        <li class="mode">
            <div class="moon-sun">
                <i class='bx bx-moon icon moon'></i>
                <i class='bx bx-sun icon sun'></i>
            </div>
            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
                <span class="switch"></span>
            </div>
        </li>
    </div>
</div>
