<!-- home.component.html -->
<div class="home">
  <div class="text">
    <h1>Advertisement main page</h1>
    <div class="ads-grid">
      @for (ad of adsList; track ad) {
        <div class="advertisement" (click)="onClickAd(ad.id)">
          <img [src]="ad.picture" alt="Ad Image">
          <h2>{{ ad.title }}</h2>
          <p class="price">{{ ad.price | currency:'PLN' }}</p>
          <p class="date">{{ ad.created_date | date:'dd MMM yyyy   HH:mm' }}</p>
        </div>
      }
    </div>
  </div>
</div>
